@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-asuGold {
    box-shadow: 0 0 8px 2px #F59701;
  }
  

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
  }
  
  .shake {
    animation: shake 0.4s ease;
  }
  